
<div id="add_award_form">
  <form id="edit_event_form" target="_self" method="post">
    <input type="hidden" id="form" name="form" value="add_award" />
    <table>
      <tr class="list_header">
        <td></td>
        <td>Hash Name</td>
        <td>Title</td>
        <td>Type</td>
        <td>Number</td>
      </tr>
    <% if (awardsToAdd && awardsToAdd.length > 0) { %>
      <% for (let i=0, l=awardsToAdd.length; i < l; i++) { %>
        <tr class="list_item">
          <td>
            <div class="input_box">
              <input type="checkbox"
               id="hasher-<%= awardsToAdd[i].hasher_id _%>--honor-<%= awardsToAdd[i].honor_id _%>-"
               name="hasher-<%= awardsToAdd[i].hasher_id _%>--honor-<%= awardsToAdd[i].honor_id _%>-"
               value="<%= awardsToAdd[i].hasher_id _%>"
               />
            </div>
          </td>
          <td><a href="/hasher/<%= awardsToAdd[i].hasher_id _%>"><%= awardsToAdd[i].hash_name %></a></td>
          <td><%= awardsToAdd[i].title %></td>
          <td><%= awardsToAdd[i].type %></td>
          <td><%= awardsToAdd[i].num %></td>
        </tr>
      <% } %>
    <% } else { %>
      <tr>
        <td>No awards earned by attendees</td>
      </tr>
    <% } %>
    </table>
    <input id="add_award_submit" type="submit" value="Mark Delivered" />
  </form>
</div>
