
<div id="edit_hasher_form">
  <h2><%= hasher.hash_name %></h2>

  <form id="edit_hasher_form" target="_self" method="post">
    <input type="hidden" id="form" name="form" value="edit_hasher" />
    <div class="input_box">
      <label for="real_name">Real Name:</label>
      <input type="text" id="real_name" name="real_name" value="<%= hasher.real_name %>" />
    </div>
    <div class="input_box">
      <label for="hash_name">Hash name:</label>
      <input type="text" id="hash_name" name="hash_name" value="<%= hasher.hash_name %>" />
    </div>
    <div class="input_box">
      <label for="fb_name">Facebook name:</label>
      <input type="text" id="fb_name" name="fb_name" value="<%= hasher.fb_name %>" />
    </div>
    <div class="input_box">
      <label for="fb_url">Facebook URL:</label>
      <input type="text" id="fb_url" name="fb_url" value="<%= hasher.fb_url %>" />
    </div>
    <div class="input_box">
      <label for="kennel">Home kennel:</label>
      <select id="kennel" name="kennel">
        <option value=""></option>
        <% if (kennelList && kennelList.length > 0) { %>
          <% for (let i=0, l=kennelList.length; i < l; i++) { %>
            <option value=<%= kennelList[i].id %> <%= kennelList[i].selected ? "selected" : "" %> >
              <%= kennelList[i].name %></option>
          <% } %>
        <% } %>
      </select>
    </div>
    <div class="input_box">
      <label for="notes">Notes:</label><br>
      <textarea rows="6" id="notes" name="notes"><%= hasher.notes %></textarea>
    </div>
    <input id="edit_hasher_submit" type="submit" value=<%= mode %> />
  </form>

</div>
