
<div id="award_list">
  <table>
    <tr class="list_header">
      <td>Date Given</td>
      <td>Hasher</td>
      <td>Type</td>
      <td>Number</td>
      <td>Title</td>
    </tr>
  <% if (awards && awards.length > 0) { %>
    <% for (let i=0, l=awards.length; i < l; i++) { %>
      <tr class="list_item">
        <td><%= awards[i].ev_date %></td>
        <td><a href="/hasher/<%= awards[i].hasher_id _%>"><%= awards[i].hash_name %></a></td>
        <td><%= awards[i].type %></td>
        <td><%= awards[i].num %></td>
        <td><%= awards[i].title %></td>
      </tr>
    <% } %>
  <% } else { %>
    <tr>
      <td>No awards to show</td>
    </tr>
  <% } %>
  </table>
</div>
