
<div id="hasher_list">
  <table>
    <tr class="list_header">
      <td>Hash Name</td>
      <td>Real Name</td>
      <% if (typeof locals.hashers[0].hare !== "undefined") { %>
        <td>Hare?</td>
      <% } %>
      <% if (typeof locals.hashers[0].jedi !== "undefined") { %>
        <td>Jedi?</td>
      <% } %>
    </tr>
  <% if (hashers && hashers.length > 0) { %>
    <% for (let i=0, l=hashers.length; i < l; i++) { %>
      <tr class="list_item">
        <td><a href="/detail/hasher/<%= hashers[i].id _%>"><%= hashers[i].hash_name %></a></td>
        <td><%= hashers[i].real_name %></td>
        <% if (typeof locals.hashers[0].hare !== "undefined") { %>
          <td><%= hashers[i].hare ? "YES" : "" %></td>
        <% } %>
        <% if (typeof locals.hashers[0].jedi !== "undefined") { %>
          <td><%= hashers[i].jedi ? "YES" : "" %></td>
        <% } %>
      </tr>
    <% } %>
  <% } else { %>
    <tr>
      <td>No hashers to show</td>
    </tr>
  <% } %>
  </table>
</div>
