
<div id="hasher_list">
  <h3>Hashers attended:</h3>
  <table>
    <tr class="list_header">
      <td>Hash Name</td>
      <td>Real Name</td>
      <td>Hare?</td>
      <td>Jedi?</td>
    </tr>
  <% if (hashers && hashers.length > 0) { %>
    <% for (let i=0, l=hashers.length; i < l; i++) { %>
      <tr class="list_item">
        <td><a href="/detail/hasher/<%= hashers[i].id _%>"><%= hashers[i].hash_name %></a></td>
        <td><%= hashers[i].real_name %></td>
        <td><%= hashers[i].hare ? "YES" : "" %></td>
        <td><%= hashers[i].jedi ? "YES" : "" %></td>
      </tr>
    <% } %>
  <% } else { %>
    <tr>
      <td>No hashers to show</td>
    </tr>
  <% } %>
  </table>
</div>
