
<div id="event_list">
  <table>
    <tr class="list_header">
      <td>Date</td>
      <td>Kennel</td>
      <td>Number</td>
      <td>Title</td>
      <% if (events && events.length > 0 && typeof locals.events[0].hare !== "undefined") { %>
        <td>Hare?</td>
      <% } %>
      <% if (events && events.length > 0 && typeof locals.events[0].jedi !== "undefined") { %>
        <td>Jedi?</td>
      <% } %>
    </tr>
  <% if (events && events.length > 0) { %>
    <% for (let i=0, l=events.length; i < l; i++) { %>
      <tr class="list_item">
        <td><%= events[i].ev_date %></td>
        <td><%= events[i].kennel %></td>
        <td><%= events[i].number %></td>
        <td><a href="/event/<%= events[i].id _%>"><%= events[i].title %></a></td>
        <% if (typeof locals.events[0].hare !== "undefined") { %>
          <td><%= events[i].hare ? "YES" : "" %></td>
        <% } %>
        <% if (typeof locals.events[0].jedi !== "undefined") { %>
          <td><%= events[i].jedi ? "YES" : "" %></td>
        <% } %>
      </tr>
    <% } %>
  <% } else { %>
    <tr>
      <td>No events to show</td>
    </tr>
  <% } %>
  </table>
</div>
