<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../../partials/header'); %>
</header>

<main>
  <h1>Honors Due Report</h1>
  <p>This report shows honors that will be earned when the hasher next shows up
    at an event, but which have not yet been delivered. Once an honor has been
    marked as delivered, it will no longer appear on this report. If an honor was
    mistakenly marked delivered, you can edit that from the detail screen for the
    hasher in question.</p>

  <table>
    <tr>
      <td>Hash Name</td>
      <td>Honor</td>
    </tr>
    <% for (let i=0, l=list.length; i < l; i++) { %>
      <tr>
        <td><%= list[i].hash_name %></td>
        <td><%= list[i].title %></td>
      </tr>
    <% } %>
  </table>

</main>

    <%- include('../../partials/footer'); %>

</body>
</html>
