<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../../partials/header'); %>
</header>

<main>

  <h1>Edit Event Details</h1>
  <%- include('../../partials/event-edit-form'); %>

  <h3>Awards delivered:</h3>
  <%- include('../../partials/list-awards'); %>

  <h3>Hashers attended:</h3>
  <%- include('../../partials/list-hashers'); %>

</main>

  <%- include('../../partials/footer'); %>

</body>
</html>
