<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../../partials/header'); %>
</header>

<main>
  <form id="search_form" target="_self" method="post">
    <div class="input_box">
      <label for="search">Search for:</label>
      <input type="text" id="search" name="search" />
      <input id="search_submit" type="submit" value="Search" />
    </div>
  </form>

  <p><a href="/event/new">Add new event</a></p>

  <h3><%= title %></h3>
  <% if (locals.events && locals.events.length > 0) { %>
    <%- include('../../partials/list-events'); %>
  <% } %>

  <% if (locals.hashers && locals.hashers.length > 0) { %>
    <%- include('../../partials/list-hashers'); %>
  <% } %>

</main>

  <%- include('../../partials/footer'); %>

</body>
</html>
