<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../../partials/header'); %>
</header>

<main>

  <%- include('../../partials/hasher-edit-form'); %>

  <h3>Awards delivered:</h3>
  <%- include('../../partials/list-awards'); %>

  <h3>Events attended:</h3>
  <%- include('../../partials/list-events'); %>

</main>

  <%- include('../../partials/footer'); %>

</body>
</html>
